{% extends "layout.html" %}

{% block heading %}
  first page

{% endblock %}

{% block body %}


<div class="card-group">
  <div class="card">
    <div class="card bg-dark text-white">
  <img class="card-img" src="https://cdn.dribbble.com/users/2992969/screenshots/11639572/media/d9f7b835f7bcecea2803b0453ffda274.jpeg" alt="Card image">
  <div class="card-img-overlay">
    <h5 class="card-title"> Leseratte </h5>
    <p class="card-text">The perfect place for leseratten to explore and share their love and insights for books and reading.</p>

  </div>
</div>

  </div>
  <div class="card">
      <div class="card-body" id="card1">

    <form action="{{ url_for('signedup') }}" method="post">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
      <input type="email" name="email" placeholder="Enter Your Email id" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">UserId</label>
      <input type="text" name="userid" placeholder="Enter Your User id" class="form-control"  aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>


        <input type="password" name="password" placeholder="Enter Your Password" class="form-control" id="exampleInputPassword1">
        </div>
       <button class="btn btn-success"> Sign Up </button>


     </form>

     <br>
<hr class="style14">
<br>




<form action="{{ url_for('signedin') }}" >
  <button class="btn btn-primary btn-lg"> Go back to Login Page  </button>
  </form>
  <br>
  <br>
  <br>
  <br>
  {% with messages = get_flashed_messages(with_categories=true) %}
   {% if messages %}
      {% for category,message in messages %}
      {% if category == 1 %}

      <div class="alert alert-success" role="alert"> {{message}} </div>
      {%else%}
      <div class="alert alert-danger" role="alert"> {{message}} </div>


{% endif %}

      {% endfor %}
      {% endif %}
    {% endwith %}

  </div>
  </div>

</div>
{% endblock %}
